body
{ 

	
	
background-image: linear-gradient(180deg, #4658b0, white, #4658b0);
	
	font-family: 'quicksandlight', Helvetica, Arial;
	color:#FFFFFF;
	text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
    filter: dropshadow(color=#000000, offx=1, offy=1);
}


 h1{
	
	font-size:30px;
	letter-spacing:-1.5px;
	margin-left:30px;
}

 h3{
	
	font-size:16px;
	letter-spacing:-1.5px;
	margin-top:5px;
	margin-left:35px;
}


a
{
	color:rgba( 255, 255, 255, .65 );
	text-decoration: none;
}

a:hover
{
	color:rgba( 255, 255, 255, 1 );
}

/* hardware accelatator class */	
	.trans3d
	{
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform-style: preserve-3d;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform-style:preserve-3d;
		-ms-transform: translate3d(0, 0, 0);
		transform-style:preserve-3d;
		transform: translate3d(0, 0, 0);

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
	}
	 #contentContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	
	#carouselContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	
	.carouselItem
	{
		width:320px;
		height:130px;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		visibility:hidden;
	}
.carouselItemInner
	{
		width:350px;
		height:230px;
		position:absolute;
		background-color:rgba(55, 55, 255, .75);
		border:8px solid rgba(255, 255, 255, .5);
		color:aqua;
		font-size:45px;
		overflow-wrap: break-word;
		word-wrap: break-word;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		text-align:center;
		padding-top:50px;
		
	}
	.services-exp
	{ 
	

color: black;
font-style: italic;
font-family: Helvetica;
		display: flex;
		flex-direction: column;
		width: 90%;
		text-align: center;
		align-content: center;
		justify-content: center;
		margin: auto;
	}
	.services-exp .container-inner
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		text-align: center;
	}
	.services-exp .container-inner img
	{
		margin: 10px;
		border-radius: 10px;
	}
	.services-exp .container-inner .inner-details
	{
		align-self: center;
	}
	.services-exp .container-inner .inner-details h2
	{
		font-size: 2rem;
		margin-bottom: 10px;
	}
@media only screen and (max-width: 1000px)
{
	 #contentContainer
	{
		display: none;
		}
		body{
			overflow: auto;
			height: 0;
		}
.services-exp
		{
			margin-top: -70%;
		}

		header
		{
			height: 0px;
		}
		#carouselContainer
		{
			display: none;
		}
}
@media only screen and (max-width: 750px)
{
		.services-exp
		{
			width: 100%;
		}
	.services-exp img
	{
		width: 100px;
		height: 100px;
	}
	.services-exp p
	{
		font-size: 1.5rem;
	}
	
	}
	@media only screen and (max-width: 650px)
{
.services-exp
{
	margin-top: -100%;
}
}
	@media only screen and (max-width: 500px)
{
.services-exp
{
	margin-top: -120%;
}
.top-right .social-media a,i
{
	font-size: 10px;
}
.top-right .social-media .fa
{
	font-size: 10px;
}
	.services-exp p
	{
		font-size: 1rem;
	}
}
